@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");

@font-face {
  font-family: "Disruptor";
  src: url("fonts/Disruptor.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* --dark: #333434; */
  /* --dark: #282525; */
  --dark: #202020;
  --dark_light: #555656;
  --beige: #81766c;
  --beige_light: #8f8a84;
  --light: #d1cbc2;
  --light_white: #e4e0da;

  --font-logo: "Poiret One", sans-serif;
  --font-main: "Montserrat", sans-serif;
  --font-serif: "Great Vibes", sans-serif;
  --font-head: "Disruptor", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: var(--font-main);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark);
  color: var(--black);
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
  padding: 15px;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--dark);
  padding: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  z-index: 9;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 15px 30px;
  margin: auto;
}

.header::before {
  position: absolute;
  content: "";
  background-image: url(images/header-back3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 54vw;
  height: 63vh;
  left: -18%;
  bottom: 0;
  z-index: -1;
  opacity: 0.1;
}

.header::after {
  position: absolute;
  content: "";
  background-image: url(images/header-back3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 51vw;
  height: 61vh;
  right: -18%;
  top: 0;
  z-index: -1;
  opacity: 0.1;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.logo h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

.logo span {
  font-family: var(--font-logo);
  font-size: 40px;
  line-height: 1;
  margin-top: -10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list a {
  font-size: 17px;
  transition: 0.3s;
  color: var(--light);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-list a:hover {
  color: var(--green);
  cursor: pointer;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding-top: 15px;
}

.burger span {
  width: 25px;
  height: 2px;
  background: var(--beige_light);
  transition: 0.3s;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 1200px) and (min-width: 1048px) {
  .nav-list {
    gap: 15px;
  }
}
@media (max-width: 1048px) {
  .nav {
    position: absolute;
    top: 95px;
    right: 0;
    background: var(--beige);
    height: calc(100vh - 100px);
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
    z-index: 100000;
  }
  .nav-list a {
    color: var(--white);
    font-size: 15px;
  }
  .nav.open {
    display: flex;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .burger {
    display: flex;
    position: absolute;
    right: 20px;
    z-index: 1000000;
  }
  .logo img {
    height: 100px;
  }

  .header::after {
    display: none;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  max-width: 1160px;
  margin: auto;
}

.hero > img {
  position: relative;
  height: 80vh;
  bottom: 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 540px;
  padding: 15px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-align: center;
  font-family: var(--font-logo);
  font-weight: 900;
  color: var(--beige_light);
}

.hero__title b {
  padding: 0 15px 5px;
  background-color: var(--beige);
  color: #fff;
  line-height: 1;
  border-radius: 30px;
  width: max-content;
  white-space: nowrap;
}

.hero__title span {
  font-size: 50px;
  margin-top: -10px;
  font-weight: 500;
  margin: 20px auto;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-family: var(--font-serif);
}

.hero__text {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  display: block;
  text-align: center;
  color: var(--beige);
  padding: 10px 25px;
  max-width: 500px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--beige);
  color: #fff;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 130px;
  height: max-content;
  font-family: var(--font-logo);
  margin: auto;
  justify-content: center;
  letter-spacing: 2px;
  font-weight: 900;
  box-shadow: -4px 3px 27px -3px rgba(0, 0, 0, 0.75);
}

.btn:hover {
  color: #fff;
  background-color: var(--green);
}
.btn i {
  font-size: 30px;
}

.btn-dark {
  background-color: var(--dark);
  color: var(--beige_light);
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1148px) {
  .hero > img {
    height: auto;
    width: 50vw;
  }
}

@media (max-width: 1048px) {
  .hero__title {
    font-size: 21px;
    margin-bottom: 0;
  }
  .hero__title span {
    font-size: 25px;
    margin: 5px auto;
    color: var(--blue);
  }
  .header__top .mobile {
    display: none;
  }
  .hero-container {
    position: relative;
    gap: 20px;
    min-width: 100%;
  }
  .hero__text {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
  }
  .btn i {
    font-size: 15px;
  }
  .btn {
    font-size: 14px;
    margin: auto;
  }
  .hero > img {
    height: auto;
    width: 320px;
    position: relative;
    margin-top: 20px;
  }
  .hero {
    margin-top: 0;
    flex-direction: column;
    padding-top: 0;
  }
  .header {
    min-height: auto;
    padding-bottom: 0;
  }
  .experience::before {
    top: -23%;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social a {
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--beige);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  box-shadow: -4px 3px 27px -3px rgba(0, 0, 0, 0.75);
}

.social a:hover {
  color: #fff;
  background-color: var(--green);
}

@media (min-width: 1047px) {
  .nav .mobile {
    display: none;
  }
}

section {
  padding: 140px 0 70px;
}

.experience {
  position: relative;
  background: var(--dark);
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  z-index: 10;
}

.experience .container {
  position: relative;
  text-align: center;
  z-index: 2;
  min-width: 90vw;
  border-radius: 50px;
  padding: 30px 30px;
  background-color: var(--beige);
}

.exp-header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 80px;
}

h2 {
  font-size: 45px;
  letter-spacing: -0.5px;
  letter-spacing: 6px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: var(--font-logo);
  color: var(--light_white);
}

.exp-header p {
  font-size: 50px;
  font-family: var(--font-head);
  line-height: 0.8;
}

.exp-card p span {
  font-size: 20px;
  text-transform: uppercase;
  font-family: var(--font-logo);
  font-weight: 700;
  margin-bottom: 30px;
  display: inline-block;
}

.exp-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.exp-top img {
  width: 35%;
}

.exp-grid {
  display: grid;
  gap: 40px;
  color: var(--black);
  position: relative;
}
.exp-grid::after {
  position: absolute;
  content: "";
  background-image: url(images/header-back3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 51vw;
  height: 61vh;
  right: -18%;
  top: 0;
  z-index: -1;
  opacity: 0.4;
}

.exp-grid::before {
  position: absolute;
  content: "";
  background-image: url(images/header-back3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 51vw;
  height: 61vh;
  left: -18%;
  bottom: 0;
  z-index: -1;
  opacity: 0.4;
}

.exp-grid .exp-card:nth-child(2) {
  margin-left: auto;
}

.exp-card {
  background: var(--dark);
  border-radius: 24px;
  padding: 40px 32px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
  position: relative;
  max-width: 900px;
}

.exp-num {
  position: absolute;
  top: -34px;
  right: 1px;
  font-size: 123px;
  font-weight: 300;
  opacity: 0.2;
  color: var(--beige_light);
  font-family: "Oswald", sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.exp-top .exp-card {
  background-color: transparent;
  color: var(--dark);
  box-shadow: none;
  max-width: 100%;
}

h3 {
  font-size: 25px;
  margin-bottom: 16px;
  color: var(--beige_light);
  font-family: var(--font-logo);
  text-transform: uppercase;
  min-height: 2em;
  font-weight: 900;
  letter-spacing: 2px;
}

.experience h3 {
  margin-top: -20px;
}

.experience h4 {
  color: var(--light);
  text-align: left;
  font-family: var(--font-logo);
  text-transform: uppercase;
}

.exp-card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exp-card p,
.exp-card li {
  color: var(--beige_light);
  line-height: 1.6;
  font-size: 20px;
  text-align: left;
}

.exp-top .exp-card p,
.exp-top .exp-card h3 {
  color: var(--light);
  text-align: center;
}

.exp-top .exp-card .exp-num {
  color: var(--dark);
}
.exp-card li {
  text-align: left;
}
.experience .logo {
  display: inline-flex;
  text-align: center;
}

.experience .btn {
  margin-top: 30px;
}
@media (max-width: 1048px) {
  .experience::before {
    top: -23%;
  }
}
@media (max-width: 768px) {
  .exp-header {
    margin-bottom: 50px;
  }
  section {
    padding: 30px 0;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }

  .exp-card {
    padding: 28px 24px;
  }
}

.clients {
  position: relative;
  overflow-x: hidden;
}

.clients::before {
  position: absolute;
  content: "";
  background-image: url(images/header-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 76vw;
  height: 116vh;
  right: -36%;
  top: 0vh;
  z-index: -1;
  opacity: 0.2;
}

.clients::after {
  position: absolute;
  content: "";
  background-image: url(images/header-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 76vw;
  height: 146vh;
  left: -13%;
  bottom: 30vh;
  z-index: -1;
  opacity: 0.2;
}

.clients-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.clients .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  color: var(--light_white);
}

.clients-grid h2 {
  margin: 40px auto;
}

.clients .card p {
  margin-bottom: 10px;
  text-align: center;
  padding: 15px;
  max-width: 700px;
  font-size: 20px;
  margin: 40px auto;
}

.clients-grid .card p span {
  font-family: var(--font-serif);
  padding: 5px 25px;
  background-color: var(--dark);
  color: #fff;
  border-radius: 30px;
  width: max-content;
  white-space: nowrap;
  font-size: 30px;
}

.client-card {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.client-card img {
  width: 1000px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  display: block;
  height: auto;
  -webkit-mask-image: linear-gradient(
    to bottom,
    var(--dark) 60%,
    transparent 100%
  );
  mask-image: linear-gradient(to bottom, var(--dark) 70%, transparent 100%);
}

.client-card .text {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  color: var(--light_white);
  border-radius: 30px;
}

.clients-games {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.clients-games .client-card {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  color: var(--light_white);
  border-radius: 30px;
}

.clients-games .client-card .text {
  height: 100%;
}

.clients-games .client-card .btn {
  width: 100%;
}

.clients-games .client-card .text p {
  padding: 0;
}

.clients-games .client-card .text h5 {
  margin-top: 20px;
  font-size: 1.3rem;
  font-family: var(--font-logo);
}

.clients-grid h2.title-top {
  margin-top: 150px;
}

.client-card .text p {
  font-size: 20px;
  padding: 0 120px;
}

.client-card .btn {
  background-color: var(--dark);
  color: var(--light_white);
  margin-top: 30px;
}

.client-card .text h3 {
  font-size: 30px;
  color: var(--light_white);
  margin-bottom: 0;
}

.client-card .text img {
  height: 100px;
  object-fit: contain;
}

.faq-list {
  max-width: 900px;
  margin: 0 auto;
}
.faq-item {
  background-color: var(--green);
  margin-bottom: 10px;
  border-radius: 30px;
}
.faq-question {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease;
}
.faq-question:hover {
  color: var(--black);
}
.faq-icon {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  transition: transform 0.3s ease;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.4s ease;
  opacity: 0;
  padding: 0 20px;
}
.faq-answer p,
.faq-answer ul {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.faq-item.active .faq-answer {
  max-height: 1000px;
  opacity: 1;
  padding-bottom: 15px;
}
.faq-item.active .faq-answer {
  color: var(--green);
}
.faq-item.active .faq-icon {
  transform: rotate(180deg);
  content: "−";
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0px;
  text-transform: none;
  color: var(--light_white);
  max-width: 700px;
  margin: auto;
}

.section-title img {
  width: 400px;
}

.section-title p {
  font-size: 18px;
  text-align: center;
}

.about-text {
  text-align: center;
}

.about-text p {
  text-transform: none;
  font-weight: 400;
  text-align: center;
  max-width: 600px;
  margin: 20px auto 40px;
  padding: 0 15px;
  line-height: 2;
}

.about-text p span {
  font-family: var(--font-serif);
  padding: 5px 25px;
  background-color: var(--green);
  color: #fff;
  border-radius: 30px;
  width: max-content;
  font-size: 25px;
  white-space: nowrap;
}

.about-text > a {
  width: max-content;
  margin: 0 auto 30px;
}

footer {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--green);
}

footer p {
  font-size: 17px;
}

footer a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.pt-0 {
  padding-top: 0 !important;
}

.faq .container {
  position: relative;
  text-align: center;
  z-index: 2;
  min-width: 90vw;
  border-radius: 50px;
  padding: 30px 30px;
  background-color: var(--beige);
}

.faq {
  position: relative;
  overflow-x: hidden;
}

.faq-back::after {
  position: absolute;
  content: "";
  background-image: url(images/header-back3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 51vw;
  height: 61vh;
  right: -18%;
  top: 0;
  opacity: 0.1;
}

.reviews img {
  margin: auto;
  border-radius: 50px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.reviews p {
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.reviews .btn {
  margin-top: 40px;
  width: max-content;
  min-width: 300px;
  background-color: var(--green);
  color: #fff;
}

.reviews .btn:hover {
  background-color: var(--beige);
  color: var(--black);
}

#reviews {
  padding: 60px 0;
}
.contacts .logo {
  margin-top: 35px;
}
@media (max-width: 1048px) {
  .faq {
    padding: 50px 15px;
  }
  .faq-question {
    font-size: 14px;
    padding: 8px 10px 8px 21px;
  }
  .faq-icon {
    font-size: 24px;
  }
  .authors-section {
    padding-top: 50px;
  }
  .about-text p span {
    width: auto;
  }
  .about-text p {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
  }
  .contacts .social {
    flex-wrap: wrap;
    max-width: 300px;
    margin: 40px auto 0;
  }
  .logo h2 {
    font-size: 20px;
  }
  #contacts {
    padding-bottom: 15px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .logo span {
    font-size: 32px;
  }
}

.reviews-section .container {
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.phone-carousel {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 40px 0;
  scrollbar-width: none;
  width: 100%;
  max-width: 1000px;
}
.phone-carousel::-webkit-scrollbar {
  display: none;
}

.phone {
  flex: 0 0 auto;
  width: 220px;
  height: 420px;
  background: var(--beige);
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.phone:hover {
  transform: scale(1.05);
}

.phone::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 6px;
  background: #222;
  border-radius: 10px;
}

.screen {
  border-radius: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.carousel-btn:hover {
  background: #fff;
  color: #000;
  transform: translateY(-50%) scale(1.1);
}

.carousel-btn.prev {
  left: -25px;
}
.carousel-btn.next {
  right: -25px;
}

@media (max-width: 768px) {
  .carousel-btn {
    width: 36px;
    height: 36px;
    font-size: 14px;
  }
  .carousel-btn.prev {
    left: 5px;
  }
  .carousel-btn.next {
    right: 5px;
  }
}

.none {
  display: none !important;
}

.glow-circle {
  position: relative;
  display: inline-block;
}

.glow-circle::before {
  content: "";
  position: absolute;
  inset: -80px; /* розмір ореолу */
  background: radial-gradient(
    circle at center,
    rgba(225, 220, 210, 0.4) 0%,
    /* світліший центр */ rgba(209, 203, 194, 1) 40%,
    /* плавний перехід */ rgba(0, 0, 0, 0) 100% /* прозорий край */
  );
  filter: blur(50px);
  z-index: 0;
}

.glow-circle img {
  position: relative;
  z-index: 1;
  display: block;
  width: 300px;
}

@media (max-width: 1048px) {
  h3,
  .section-title p {
    font-size: 20px;
  }
  .exp-card p,
  .exp-card li {
    font-size: 17px;
  }
  .experience h3 {
    margin-top: 0;
  }
  .section-title img {
    width: 200px;
  }
  .clients-grid {
    margin-top: 30px;
  }
  .client-card .text img {
    height: 60px;
  }
  .client-card .text h3 {
    font-size: 22px;
  }
  .client-card .text p {
    font-size: 18px;
    padding: 0;
  }
  .client-card {
    flex-direction: column;
  }
  .client-card img {
    position: relative;
    order: 1;
  }
  .client-card .text {
    position: relative;
    order: 2;
  }
  .clients .logo img {
    height: auto;
  }
}

.experience .title {
  color: var(--light_white);
  max-width: 300px;
  margin: 40px auto;
}

.experience .title h3 {
  font-size: 50px;
  margin-top: 0;
  color: var(--light_white);
  margin-bottom: 0;
}

.clients .experience .container {
  padding-bottom: 50px;
}

.clients .experience h4 {
  color: var(--light_white);
  font-size: 30px;
  font-family: var(--font-logo);
}

.clients .experience p {
  max-width: 600px;
  margin: 30px auto;
  font-size: 20px;
}

.faq-list {
  max-width: 900px;
  margin: 30px auto 0;
}
.faq-item {
  background-color: var(--dark);
  margin-bottom: 10px;
  border-radius: 30px;
}
.faq-question {
  width: 100%;
  background: none;
  border: 1px solid var(--dark);
  text-align: left;
  font-size: 20px;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 400;
  color: var(--light_white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease;
  gap: 10px;
  border-radius: 30px;
  transition: all 0.3s ease;
  line-height: 1.3;
}
.faq-question:hover {
  color: var(--dark);
  background-color: var(--beige);
}
.faq-icon {
  font-size: 48px;
  font-weight: 300;
  color: var(--light_white);
  transition: transform 0.3s ease;
}
.faq-question:hover .faq-icon {
  color: var(--light_white);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.4s ease;
  opacity: 0;
  padding: 0 20px;
}
.faq-answer p,
.faq-answer ul {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  padding: 20px 0 0;
}

.faq-answer ul {
  list-style-type: disc;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.faq-answer strong {
  font-weight: normal;
}
.faq-item.active .faq-answer {
  max-height: 1000px;
  opacity: 1;
  padding-bottom: 15px;
}
.faq-item.active .faq-answer {
  color: var(--beige);
}
.faq-item.active .faq-icon {
  transform: rotate(180deg);
  content: "−";
}

@media (max-width: 700px) {
  .faq {
    padding: 50px 15px;
  }
  .faq-question {
    font-size: 14px;
    padding: 8px 10px 8px 21px;
  }
  .faq-icon {
    font-size: 24px;
  }
}

.pt-0 {
  padding-top: 0;
}

#contacts {
  position: relative;
  overflow-x: hidden;
}

#contacts::after {
  position: absolute;
  content: "";
  background-image: url(images/image.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 51vw;
  height: 61vh;
  right: -10%;
  top: -2%;
  opacity: 0.4;
}

.contacts {
  color: var(--light_white);
}

.contacts .social {
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacts .social a {
  width: 310px;
  border-radius: 24px;
  font-size: 16px;
}

.contacts .social a i {
  margin-right: 10px;
}

.contacts .section-title {
  gap: 40px;
}

.contact-steps {
  margin: 20px auto 30px;
  max-width: 523px;
}

.contact-steps li {
  position: relative;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.contact-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.contact-buttons .btn {
  margin: 0;
}

#contacts {
  padding-bottom: 30px;
}

@media (max-width: 1048px) {
  .contact-steps {
    margin: 20px auto 30px;
    max-width: 275px;
  }
  .experience .container {
    padding-left: 0;
    padding-right: 0;
  }
  .clients-games {
    flex-direction: column;
  }
  .clients-grid h2.title-top {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .client-card .text {
    padding: 20px 0;
  }
  .exp-card p span {
    font-size: 17px;
  }
  .exp-card,
  .exp-grid .exp-card:nth-child(2) {
    margin: 15px;
  }
  .exp-top {
    margin-bottom: 0;
  }
  .exp-grid {
    gap: 0;
  }
}
